# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

*.iobj
*.VC.db
*.ipch
*.pch
*.ipdb
*.pdb
*.ilk
*.tlog
*.log
*.idb
Thumbs.db
/.vs
/x64
/debug
/release
/Debug
/Release

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
#*.so
*.dylib
#*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
#*.lib

# Executables
*.exe
*.out
*.app
